@use "./variables" as *;

#game-container {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 1rem;
  font-family: $font-main;
}

#hangman-container {
  width: 250px;
  height: 320px;
  display: flex;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

#hangman-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#word {
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  color: $text-color;
  margin-bottom: 1rem;
}

#letters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 0.35rem;

  button {
    background: $bg-color;
    border: 1px solid $border-color;
    color: white;
    width: 40px;
    height: 40px;
    margin: 0.35rem;
    cursor: pointer;
    font-family: $font-main;
    text-transform: uppercase;

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    &:hover {
      background: $border-color;
      color: $bg-color;
      transform: scale(1.3);
    }
  }
}

#result-container {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background: $bg-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  #letters button {
    width: 7vw;
    height: 7vw;
    font-size: 0.8rem;
  }
  #word {
    font-size: 2rem;
  }
}
.modal__backdrop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: $border-color;
}

.modal__content {
  background: $bg-color;
  color: $text-color;
  padding: 1em;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.modal__content button {
  align-self: flex-end;
}
