@use "./variables" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: $bg-color;
}

.page {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  box-sizing: border-box;

  &__fullscreen {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__content {
    max-width: 900px;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    text-align: center;
    color: $text-color;
  }

  &__header {
    text-align: center;
    font-family: $font-main;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: $text-color;
  }

  &__text {
    font-family: $font-main;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 750px;
    margin: 30px auto 30px auto;
    text-align: justify;
    justify-content: center;
    color: $text-color;
  }
  &__text ul,
  &__text {
    padding-inline-start: 20px;
    list-style-position: inside;
    list-style-type: none;
    text-align: center;
    line-height: 180%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 2rem;
  }

  &__buttons img,
  &__buttons button {
    width: 50vw;
    max-width: 220px;
    height: auto;
    cursor: pointer;
    border: $border-color solid 1px;
    border-radius: 5px;
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__image-rules {
    width: 70vw;
    max-width: 280px;
    height: auto;
    display: block;
  }
}
@media (max-width: 480px) {
  .page__buttons {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .page__buttons img {
    max-width: 220px;
  }

  .page__text {
    font-size: 1rem;
  }
}
